## Import files

In [29]:
import pandas as pd
import re
import urllib

## Importing the txt file and split dates and messeges

In [30]:
f=open('WhatsApp Chat with EDIFICATION 4 (1).txt','r', encoding= 'utf-8')
data=f.read()
# print(data)

In [31]:
# pattern='\d{1,2}\/\d{1,2}\/\d{2,4},\s \d{1,2}:\d{2}\s-\s'
pattern = r'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s'
message=re.split(pattern,data)[1:]
# print(messeges)

In [32]:
dates=re.findall(pattern,data)
# dates

## Creating pandas dataframe

In [33]:
df=pd.DataFrame({"user_message":message,"message_date":dates})
df["message_date"]=pd.to_datetime(df["message_date"], format='%m/%d/%y, %H:%M - ')
df.rename(columns={'message_date' : 'date'},inplace=True)
df.head()

                              user_message                date
0      You created group "EDIFICATION 4"\n 2021-07-02 19:26:00
1  😈~Ken Kaneki~😈: Itna sannata kaiko re\n 2022-08-28 19:36:00
2                Dipayan: Match dekho...\n 2022-08-28 19:44:00
3            😈~Ken Kaneki~😈: Phone dek6i\n 2022-08-28 19:52:00
4                      😈~Ken Kaneki~😈: 🙂\n 2022-08-28 19:52:00

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11333 entries, 0 to 11332
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_message  11333 non-null  object
 1   date          11333 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 177.2+ KB

In [35]:
# df["user_message"]=df["user_message"].astype('string') #own change

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11333 entries, 0 to 11332
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_message  11333 non-null  object
 1   date          11333 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 177.2+ KB

In [37]:
users=[]
messages=[]
for message in df['user_message']:
    entry=re.split('([\w\W]+?):\s',message)
    if entry[1:]:
        users.append(entry[1])
        messages.append(entry[2])
    else:
        users.append('group_notification')
        messages.append(entry[0])
df['users']=users
df['message']=messages
df.drop(columns=['user_message'],inplace=True)

<>:4: SyntaxWarning: invalid escape sequence '\w'
<>:4: SyntaxWarning: invalid escape sequence '\w'
C:\Users\indra\AppData\Local\Temp\ipykernel_2716\3234378266.py:4: SyntaxWarning: invalid escape sequence '\w'
  entry=re.split('([\w\W]+?):\s',message)

In [38]:
df

,date,users,message
0,2021-07-02 19:26:00,group_notification,"You created group ""EDIFICATION 4""\n"
1,2022-08-28 19:36:00,😈~Ken Kaneki~😈,Itna sannata kaiko re\n
2,2022-08-28 19:44:00,Dipayan,Match dekho...\n
3,2022-08-28 19:52:00,😈~Ken Kaneki~😈,Phone dek6i\n
4,2022-08-28 19:52:00,😈~Ken Kaneki~😈,🙂\n
...,...,...,...
11328,2024-02-22 11:26:00,Tuhin Da Spoken,Khub ekta vlo na\n
11329,2024-02-22 11:37:00,Dam 2,Desert khawar por rutii valo lagbeo naa\n
11330,2024-02-22 11:37:00,Dam 2,😶‍🌫😶‍🌫\n
11331,2024-02-22 11:39:00,Avijit Sir,😁\n
11332,2024-02-22 11:40:00,Dam 2,🫣🫣\n

## Extract from dataframe

In [39]:
df["year"]=df["date"].dt.year

In [40]:
df["month"]=df["date"].dt.month_name()

In [41]:
df["day"]=df["date"].dt.day

In [42]:
df["hour"]=df["date"].dt.hour

In [43]:
df["minute"]=df["date"].dt.minute

In [44]:
df.head()

,date,users,message,year,month,day,hour,minute
0,2021-07-02 19:26:00,group_notification,"You created group ""EDIFICATION 4""\n",2021,July,2,19,26
1,2022-08-28 19:36:00,😈~Ken Kaneki~😈,Itna sannata kaiko re\n,2022,August,28,19,36
2,2022-08-28 19:44:00,Dipayan,Match dekho...\n,2022,August,28,19,44
3,2022-08-28 19:52:00,😈~Ken Kaneki~😈,Phone dek6i\n,2022,August,28,19,52
4,2022-08-28 19:52:00,😈~Ken Kaneki~😈,🙂\n,2022,August,28,19,52

## Analysis part

In [45]:
df[df['users']=='Agradip'].shape

(45, 8)

In [46]:
words=[]

for message in df["message"]:
    words.extend(message.split())

In [47]:
len(words)

41500

In [48]:
new=df[df['message']=="<Media omitted>\n"]

In [49]:
new

,date,users,message,year,month,day,hour,minute
127,2022-08-29 11:04:00,Agradip,<Media omitted>\n,2022,August,29,11,4
128,2022-08-29 14:02:00,Dam 2,<Media omitted>\n,2022,August,29,14,2
199,2022-08-31 23:26:00,😈~Ken Kaneki~😈,<Media omitted>\n,2022,August,31,23,26
206,2022-09-01 13:53:00,😈~Ken Kaneki~😈,<Media omitted>\n,2022,September,1,13,53
209,2022-09-01 15:01:00,😈~Ken Kaneki~😈,<Media omitted>\n,2022,September,1,15,1
...,...,...,...,...,...,...,...,...
11257,2024-01-23 16:59:00,😈~Ken Kaneki~😈,<Media omitted>\n,2024,January,23,16,59
11277,2024-01-25 12:13:00,😈~Ken Kaneki~😈,<Media omitted>\n,2024,January,25,12,13
11282,2024-02-05 21:00:00,Avijit Sir,<Media omitted>\n,2024,February,5,21,0
11289,2024-02-05 21:01:00,😈~Ken Kaneki~😈,<Media omitted>\n,2024,February,5,21,1
11292,2024-02-05 21:02:00,😈~Ken Kaneki~😈,<Media omitted>\n,2024,February,5,21,2